.article-entry .apng-controller-container .apng-controller-canvas {
  display: block;
  margin: auto;
}
.article-entry .apng-controller-container-controller-only .apng-controller-controller {
  display: block;
  margin: auto;
}
.article-entry .apng-controller-container-standalone + .apng-controller-container-standalone {
  margin-top: 8px;
}